@import url('httpVs://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

p{
  font-family: "Insolatanco";

}

h1{
  font-family: "Insolatanco";
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  text-align: center;
}

header {
  background-color: #4f006e;
  color: white;
  padding: 20px;
  border-bottom: 2px solid #ccc;
}

.description {
  margin: 20px auto;
  width: 60%;
  font-size: 16px;
  color: #333;
}

.gallery {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 20px;
  flex-wrap: wrap;
}
.menu li {
  list-style: none;  
  margin: 10px 0;
  font-size: 18px;
  
  width: 5px;       
  height: 5px;      
  vertical-align: middle; 
  margin-right: 3px; 

}

.game {
  width: 180px;
  border: 1px solid #e5ff00;
  padding: 10px;
  background-color: rgb(238, 255, 0);
  border-radius: 8px;
  word-wrap: break-word;
}

.game img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

footer {
  background-color: #674cff;
  padding: 15px;
  font-size: 14px;
  color: #434700;
  border-top: 1px solid #ccc;
}
.gallery {
  text-align: center; 
  
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  max-width: 1000px; 
  margin: 0 auto;

}

.game {
  display: inline-block;
  width: 180px;
  margin: 10px;
  vertical-align: top;
  border: 1px solid #607500;
  padding: 10px;
  background-color: rgb(90, 116, 0);
  border-radius: 8px;
}
.game img {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.element {
  padding-left: 20px;
  padding-right: 20px;
}
.item {
  width: 220px; 
  margin: 10px;
  border: 2px solid rgb(122, 143, 1);
  padding: 10px;
  text-align: center;
}
.home {
  color: rgb(0, 17, 255);
}
.game { 
  color: rgb(9, 255, 0);
}
.b {
  color: rgb(255, 0, 0);
  background-color: rgb(255, 0, 0);
  padding: 10px;
}
block-b {
  color: chartreuse;
  padding: 15px;
}
block-game {
  color: #607500;
  padding: 25px;
}   
.hello {
  color: #8FBDB8;
  border: 1px solid red;
  text-shadow: 3px 3px 5px blue;
  outline:  1px solid black;
}

.pipi2 {
  font-size: 32px;
}
.Fort{
  color: blueviolet;
}
.Darova {
  color: blue;
  border: 1px;
  text-shadow: blueviolet;
}
